// fixes scrollbar alignment issue
html {
	width: 100vw;
}


*,:after,:before {
	box-sizing:border-box;
	background-color:#fffdf7;
	color:inherit;
	margin:0;
	padding:0;
}

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	line-height:1.6rem;
	font-size: 1rem;
	color: rgb(22, 23, 26);
	text-decoration: none;
	max-width: 100%;
    overflow-x: hidden;
}

/// navigation 



nav {ul {
	list-style: none !important;
	padding: 0.5rem;
	text-align: center;

	li {
		display: inline;
	}
}
a {
	margin: 0.5rem;
}
}


a {
    color: #000;
    text-decoration-skip-ink: auto;
    text-decoration: underline;
}



pre {
	margin: .5rem 0;
	padding: .5rem;
}


.post p {
	margin: .5rem 0;
}

.post h1, .post h2, .post h3, .post h4 {
	margin: 1rem 0;
}

.post h2:first-child, .project h2:first-child, .photo h2:first-child {
	margin-top: 0;
}


.post-2 {
	max-width: 50rem;
	margin: auto
}

.post-2 p {
	margin: .5rem 0;
}

.post-2 h1, .post-2 h3, .post-2 h4 {
	margin: 1rem 0;
}

.post-2 h2 {margin: 0 0 2.5rem;
}

.meta {
	margin: 2rem 0;
}

code {
	padding: .1rem;
}

pre code {
	border: none;
}

pre {
	padding: 1rem;
	overflow-x: auto;
}

img {
	max-width:100%;
}


hr {
	border: 0;
	height: 2px;
	width: 100px;
	margin-left: 0;
	background: #000;
  }
  

header {
	flex-basis:1rem;
	flex-grow:1;
	position:relative;
	margin: 0 auto;
	padding: 1rem;
    max-width: 75rem; 
}

header a {
	text-decoration: none;
}

header li {
	margin-bottom: .2rem;
	text-align: left;
	margin-right: 0rem;
}

header a.active {
	font-weight: 700;
}

header a:hover {
	text-decoration: underline;
	color: #000;
}

header,section {
	padding:1rem;
}

blockquote {
	font-style: italic;
    border-left: 5px solid #ececec;
    padding-left: 1rem;
}

h1,h2 {
	font-family: 'Fraunces', serif;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	line-height: 1;
	margin: 1rem 0;
	font-weight: 700;
	text-align: center;
	font-size: 2rem;
}

h3 {
	font-family: 'Fraunces', serif;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	line-height: 1;
	margin: 1rem 0;
	font-weight: 500;
	text-align: center;
	font-size: 1.55rem;
	padding-top: 0.75rem;
	
}

h4,h5 {
	font-family: 'Fraunces', serif;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	line-height: 1;
	margin: 1rem 0;
	font-weight: 500;
	text-align: center;

}

h4 {font-size: 1.36rem}


section h1:first-child {
	margin-top: 0;
}

strong, b {
	font-weight: 700
}

.photos ul {
	list-style: none;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture, .project picture {
	margin-bottom: 0.5rem;
}

main {
	display:flex;
	flex-wrap:wrap;
	max-width:75rem;
	margin:2rem auto;
	padding:1rem;
}



//images

.img + em {
	font-style: italic;
	margin-top: 0.5rem;
}

.img-small {
	max-width: 75%;
	display: block;
    margin: 0 auto;
}

//img-large only large on displays wider than 1500px (laptops) so it displays correctly
//could do similar for say 125% but with a smaller min-width
.img-large {
	max-width: 100%;
	display: block;
    margin: 0 auto;
}

.img-large + em {
	font-style: italic;
	margin-top: 0.5rem;
}

@media screen and (min-width: 1500px) {

	.img-large {
		max-width: 175%;
		margin-left: 50%;
		transform: translateX(-50%);
		
	}	

	.img-large + em {
		display: block;
		text-align: center;
		font-style: italic;
		margin-top: 0.5rem;
	}
}

.img-somewhat-large {
	max-width: 100%;
	display: block;
    margin: 0 auto;
	image-rendering: -webkit-optimize-contrast;
}

.img-somewhat-large + em {
	font-style: italic;
	margin-top: 0.5rem;
}


@media screen and (min-width: 1200px) {

	.img-somewhat-large {
		max-width: 125%;
		margin-left: 50%;
		image-rendering: -webkit-optimize-contrast;
		transform: translateX(-50%);
		
	}	

	.img-somewhat-large + em {
		display: block;
		text-align: center;
		font-style: italic;
		margin-top: 0.5rem;
		
	}
}

.img-somewhat-large-r {
	max-width: 100%;
	display: block;
    margin: 0 auto;
	image-rendering: -webkit-optimize-contrast;
	border-radius: 1.5vw;
}

.img-somewhat-large-r + em {
	font-style: italic;
	margin-top: 0.5rem;
	
}

@media screen and (min-width: 1200px) {

	.img-somewhat-large-r {
		max-width: 125%;
		margin-left: 50%;
		image-rendering: -webkit-optimize-contrast;
		transform: translateX(-50%);
		border-radius: 1.5vw;
		
	}	

	.img-somewhat-large-r + em {
		display: block;
		text-align: center;
		font-style: italic;
		margin-top: 0.5rem;
		
		
	}
}


// not sure if this is needed anymore?
@media screen and (max-width: 45rem ) {
.photos ul {
	margin-top: 0.5rem;
}
}


section {
	flex-basis:0;
	flex-grow:999;
	min-width:70%;
	display:flex;
	flex-direction:column;
	
}

figcaption {
    font-size: smaller;
}

// home page/projects page 

.home-title {
	margin-bottom: 2.5rem;
	margin-top: 0rem;
	text-align: center;
}

.home-summary {
	margin:1rem auto;
	margin-bottom: 2.5rem;
	margin-top: 0rem;
	text-align: center;
	max-width: 50rem;
	display:flex;
	flex-wrap:wrap;
	
	
}


.grid {            
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-between;
  }
  
  
  @media screen and (min-width: 1277px) {
	.grid {
	  justify-content: flex-start;
	  align-content: flex-start;
	}
  }
  
  a.thumb {        
	margin-bottom: 2.5rem;
	text-decoration: none;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }
  
  @media screen and (min-width: 320px) {
	a.thumb {
	  width: 48%;
	  text-decoration: none;
	  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	}
  }
  
  @media screen and (min-width: 768px) {
	a.thumb {
	  width: 32%;
	  text-decoration: none;
	  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	}
  }
  
  @media screen and (min-width: 1200px) {
	a.thumb {
	  flex-grow: 1;
	  margin-right: 2.5rem;
	  width: 100%;
	  max-width: 250px; 
	  text-decoration: none; 
	  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	}
	a.thumb:nth-child(4) {
		margin-right: 0;
	}
  }
  .post-date {
	font-size: 0.75rem;
	line-height: 0.75rem;
	color: grey;
	
  } 
.post-title {
	margin-bottom: 0.4rem !important;
	margin-top: 0.6rem !important;
	font-size: 1.3rem;
	line-height: 1.7rem;
	font-weight: 500;
	color : black;
	text-align: left;
  }
// adjust the hover interaction so that it underlines text and fades image together.
  .post-title:hover {
	text-decoration: underline;
	color: #000;
}

// make sure dimensions are 3x2
  .post-image {
	margin-bottom: 10px;
  
  }
  .post-image img {
	max-width: 100%;
  }
  
  .post-summary {
	font-size: 0.9rem;
	margin-bottom: 5px;
	color: grey;
	line-height: 1.3rem;
	
  }
  
  a:hover.thumb img {
	opacity: 0.7
  }
  
  .imglink {
	border-bottom: 0px !important;
  }
  

///not sure if needed
  .posts ul,header ul {
	list-style:none;
}

.posts li {
	align-items:center;
	display:flex;
	justify-content:space-between;
	margin-bottom: .5rem;
}

.posts li a, .posts li div, .projects li a {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-decoration: none;
}

.posts li time, .projects li time {
	padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
}


///page - e.g. about  55 currently
/// 
.page {
	max-width: 50rem;
	margin: auto;
	text-align: center
}

.page p {
	margin: .5rem 0;
}

.page h1, .page h3, .page h4 {
	margin: 1rem 0;
}

.page h2 {margin: 0 0 2.5rem;
}

::selection {
	background: #dddad3; /* WebKit/Blink Browsers */
  }
::-moz-selection {
	background: #dddad3; /* Gecko Browsers */
  }

p a:hover {
	background: #dddad3;
  }